@model UserListViewModel

@{
    Layout = "_AccountLayout";
}

@await Html.PartialAsync("_Navbar", Model.Categories)
@await Html.PartialAsync("_Sidebar")
<section class="container account__control-wrapper">
    <div class="users__control">
        <h1>Все пользователи</h1>
        <table class="users__control-table">
            <thead>
                <tr>
                    <th>Имя пользователя</th>
                    <th>Email</th>
                    <th>Редактировать</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td><a asp-controller="Role" asp-action="Edit" asp-route-userId="@user.Id">Редактировать</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

