@model RoleIndexViewModel

@{
    Layout = "_AccountLayout";
}

@await Html.PartialAsync("_Navbar", Model.Categories)
@await Html.PartialAsync("_Sidebar")
<section class="container account__control-wrapper">
    <div class="roles__control">
        <h1>Все роли</h1>
        <table class="roles__control-table">
            <thead>
            <tr>
                <th>Название роли</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" method="post" class="roles__control-form-delete">
                            <button>Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
        <form asp-controller="Role" asp-action="Create" class="roles__control-form" method="post">
            <h2>Добавление роли</h2>
            <input name="roleName" type="text" class="roles__control-input" placeholder="Название роли">
            <button type="submit">Добавить</button>
        </form>
    </div>
</section>
