@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="short icon" type="image/png" href="~/img/movieblog.png">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/darkmode.js"></script>
    <title>Подтверждение сброса пароля</title>
</head>
<body>
<section class="container forgot__password__window">
    <div class="forgot__password-wrapper">
        <div class="toggle__mode">
            <input type="checkbox" class="toggle-mode__checkbox" id="toggle-mode__checkbox">
            <label class="toggle-mode__label" for="toggle-mode__checkbox">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="toggle-mode__ball"></span>
            </label>
        </div>
        <div class="register__window-logo">
            <img src="~/img/movieblog.png" alt="MovieBlog icon">
            <span>MovieBlog</span>
        </div>
        <div class="forgot__password__confirmation">
            <h1>Уведомление</h1>
            <p>
                Ваш пароль сброшен. Для входа в приложение перейдите по <a asp-controller="Account" asp-action="Login">ссылке</a>.
            </p>
            <svg class="confirmation-mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve">
                <rect x="64" y="64" style="fill:#ECEFF1;" width="384" height="384"/>
                <polygon style="fill:#CFD8DC;" points="256,296.384 448,448 448,148.672 "/>
                <path style="fill:#F44336;" d="M464,64h-16L256,215.616L64,64H48C21.504,64,0,85.504,0,112v288c0,26.496,21.504,48,48,48h16V148.672
                l192,147.68L448,148.64V448h16c26.496,0,48-21.504,48-48V112C512,85.504,490.496,64,464,64z"/>
            </svg>
        </div>
    </div>
</section>
</body>
</html>