@model CreatePostViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="short icon" type="image/png" href="~/img/movieblog.png">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/darkmode.js"></script>
    <script src="~/js/fileInput.js"></script>
    <script src="https://cdn.tiny.cloud/1/36kkkhd93v5fbjle570kn4xedtutldzhous9nkjk0117rw5h/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
         tinymce.init({
              selector:'textarea',
              menubar: false,
              plugins: "link image code | autoresize image imagetools | media",
              toolbar: 'undo redo | styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link image media | code'
         });
    </script>
    <title>Добавление новости</title>
</head>
<body>
<section class="container post__create">
    <div class="toggle__mode">
        <input type="checkbox" class="toggle-mode__checkbox" id="toggle-mode__checkbox">
        <label class="toggle-mode__label" for="toggle-mode__checkbox">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <span class="toggle-mode__ball"></span>
        </label>
    </div>
    <h1>Добавление новости</h1>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="custom-form-group">
            <label asp-for="Title">Заголовок</label>
            <input asp-for="Title" type="text">
        </div>
        <div class="custom-form-group">
            <label asp-for="Content">Контент</label>
            <textarea asp-for="Content"></textarea>
        </div>
        <div class="custom-form-group">
            <span>Изображение</span>
            <label asp-for="Image" class="file__label">
                <img src="~/img/image.svg" alt="Post image">
            </label>
            <input asp-for="Image" type="file" class="file_input" accept="image/jpeg,image/png,image/gif">
            <span class="file__name">Изображение не выбрано</span>
        </div>
        <div class="custom-form-group">
            <span>Жанр</span>
            <div class="form-grid">
                @foreach (var category in Model.AllCategories)
                {
                    <div class="radio-group">
                        <label class="radio__label" for="@category.Id">@category.Name</label>
                        <input id="@category.Id" type="radio" name="category" value="@category.Name">
                    </div>
                }
            </div>
        </div>
        <div class="custom-form-group">
            <button type="submit">Добавить</button>
        </div>
    </form>
</section>
</body>
</html>