@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавить изображение";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="AddImage" enctype="multipart/form-data">
    <div class="form-group">
        <label id="image" class="">Выберите изображение</label>
        <input class="form-control-file" type="file" id="image" name="image" accept="image/jpeg,image/png,image/gif">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Добавить</button>
    </div>
</form>