@model List<Category>

<nav id="navbar">
    <a asp-controller="Home" asp-action="Index" class="navbar__logo">
        <img src="~/img/movieblog.png" alt="Navbar logo">
        <span>MovieBlog</span>
    </a>
    <div class="navbar__menu">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Новости</a>
            </li>
            <li>
                <a>
                    Жанры
                    <svg class="navbar__menu-arrow" xmlns="http://www.w3.org/2000/svg"
                         width="451.847px" height="451.847px" viewBox="0 0 451.847 451.847"
                         xml:space="preserve">
                        <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                                            c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                                            c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                        </g>
                    </svg>
                </a>
                <ul class="dropdown">
                    @foreach (var category in Model)
                    {
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-route-category="@category.Name">@category.Name</a>
                        </li>
                    }
                </ul>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a asp-controller="Account" asp-action="Profile">
                        Личный кабинет
                        <svg class="navbar__menu-arrow" xmlns="http://www.w3.org/2000/svg"
                             width="451.847px" height="451.847px" viewBox="0 0 451.847 451.847"
                             xml:space="preserve">
                            <g>
                                <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                                                                c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                                                                c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                            </g>
                        </svg>
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a asp-controller="Account" asp-action="Profile">Мой профиль</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Favorites">Избранные новости</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a asp-controller="Role" asp-action="GetUserList">Все пользователи</a>
                                </li>
                                <li>
                                    <a asp-controller="Role" asp-action="Index">Все роли</a>
                                </li>
                                <li>
                                    <a asp-controller="Post" asp-action="GetPostList">Все новости</a>
                                </li>
                                <li>
                                    <a asp-controller="Post" asp-action="AddCategory">Все жанры</a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div class="navbar__buttons">
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Register" class="navbar__button register">Зарегистрироваться</a>
            <a asp-controller="Account" asp-action="Login" class="navbar__button login">Войти</a>
        }
        else
        {
            <form asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="navbar__button logout">Выйти</button>
            </form>
        }
    </div>
</nav>
